{{>head}}
{{>navbar}}

<div class="row">
    <div class="col-12">
        <div class="card-box table-responsive">

        {{#if (eq session.role "super_admin")}}
            <button style="margin-left:15px" class="btn btn-primary btn-rounded btn-bordered waves-effect w-md waves-light" data-toggle="modal" data-target="#myModalAdd">Add New</button><br><br>
        {{/if}} 
            <table id="mytable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>No</th>
                        <th style="width: 20%">Gambar</th>
                        <th>Nama</th>
                        <th>Jenis Tiket</th>
                        <th>Harga</th>
                        <th>Discount</th>
                        <th>Qty</th>
                        <th>Visit</th>
                        <th>status</th>
                    {{#if (eq session.role "super_admin")}}
                        <th>Aksi</th>
                    {{/if}}
                    </tr>
                </thead>
                <tbody>
                    {{#each data}}
                    
                    <tr>
                        <td>{{@index}}</td>
                        <td ><img  width="150px" height="60px" src="{{gambar}}" ></td>
                        <td style="max-width:200px">{{ nama }}</td>
                        <td>{{ nama_tiket }}</td>
                        <td>Rp.{{ harga_1 }}</td>
                        {{#if discount}}
                        <td>Rp.{{ discount }}</td>
                        {{else}}
                        <td>-</td>
                        {{/if}}
                        <td>{{ qty }}</td>
                        <td>{{ visit }}</td>
                        <td>{{ status }}</td>
                    
                    {{!-- {{#if (eq session.role "super_admin")}} --}}
                        <td>
                            <center>
                                 <button type="button" class="btn btn-icon waves-effect waves-light btn-warning edit" data-id="{{ id }}"
                                    data-nama="{{ nama }}" data-keterangan="{{ keterangan }}" data-qty="{{ qty }}" data-status="{{ status }}"
                                    data-harga_1="{{ harga_1 }}" data-discount="{{ discount }}" data-id_jenistiket="{{ id_jenistiket }}" data-gambar="{{ gambar }}"> 
                                    <i class="fa fa-wrench"></i> </button>
                                  <button type="button" class="btn btn-icon waves-effect waves-light btn-danger delete" data-nama="{{ nama }}" data-id="{{ id }}"> <i class="fa fa-remove"></i> </button>
                            </center>
                        </td>
                    {{!-- {{/if}} --}}


                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- end row -->
<!-- Add New Product Modal-->
<form action="tiket/store_tiket" method="post" id="form-input" enctype="multipart/form-data">
    <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add New Tiket</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Tiket Name</label>
                                <input type="text" name="nama" class="form-control" autocomplete="off" placeholder="Tiket Name" required>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Jenis Tiket</label>
                                <select class="form-control select2" id="categoryBox" autocomplete="off" name="id_jenistiket" required>
                                    <option value="">Select</option>
                                    {{#each keta}}
                                    <option value="{{id}}">{{nama}}</option>
                                   {{/each}}
                                </select>
                                 </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Qty</label>
                                <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" autocomplete="off" name="qty" class="form-control" placeholder="150" required>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Status</label>
                                
                                <select class="form-control " name="status" autocomplete="off" required>
                                   
                                    <option value="aktif">Aktif</option>
                                    <option value="draf">Simpan Draf</option>
                                  
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Price</label>
                                <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                                    autocomplete="off" name="harga_1" class="form-control"  placeholder="20000" required>
                            </div>
                        </div>

                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Discount</label>
                                <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                                    autocomplete="off" name="discount" class="form-control" placeholder="20000" >
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Gambar</label>
                                <input type="file" id="packages_images" name="gambar" class="filestyle" data-iconname="fa fa-cloud-upload" data-buttonname="btn-secondary" required></div>
                                <div id="_edit"></div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="preview-images"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <textarea class="summernote" required class="form-control" name="keterangan"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button"  class="btn btn-secondary btn-bordered waves-effect " data-dismiss="modal">Close</button>
                    <button type="submit" value="Upload" class="btn btn-primary btn-bordered waves-effect  waves-light">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>

<!-- Edit Product Modal-->
<form action="tiket/edit_tiket" method="post" id="form_edit" enctype="multipart/form-data">
    <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Tiket</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <input type="hidden" name="id" class="id_edit" required>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Tiket Name</label>
                                <input type="text" name="nama" class="form-control nama" autocomplete="off" placeholder="Tiket Name"
                                    required>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Jenis Tiket</label>
                                <select class="form-control select2 id_jenistiket" id="categoryBox" autocomplete="off" name="id_jenistiket"
                                    required>
                                    <option value="">Select</option>
                                    {{#each keta}}
                                    <option value="{{id}}">{{nama}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
        
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Qty</label>
                                <input type="text"
                                    oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                                    autocomplete="off" name="qty" class="form-control qty" placeholder="150" required>
                            </div>
                        </div>
        
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Status</label>
        
                                <select class="form-control status" name="status" autocomplete="off" required>
        
                                    <option value="aktif">Aktif</option>
                                    <option value="draf">Simpan Draf</option>
        
                                </select>
                            </div>
                        </div>
                    </div>
        
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Price</label>
                                <input type="text"
                                    oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                                    autocomplete="off" name="harga_1" class="form-control harga_1" placeholder="20000" required>
                            </div>
                        </div>
        
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Discount</label>
                                <input type="text"
                                    oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                                    autocomplete="off" name="discount" class="form-control discount" placeholder="20000" >
                            </div>
                        </div>
        
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label>Gambar</label>
                                <input type="file" id="packages_images_edit" name="gambar" class="filestyle"
                                    data-iconname="fa fa-cloud-upload" data-buttonname="btn-secondary" ></div>
                            <div id="uploadPreview_edit"></div>
                            <div id="default_edit_img" style="width:10px;"></div>
                        </div>
        
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="preview-images"></div>
                        </div>
                    </div>
        
                    <div class="form-group">
                        <textarea class="summernote" required class="form-control" id="keterangan" name="keterangan"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-bordered waves-effect "
                        data-dismiss="modal">Close</button>
                    <button type="submit" value="Upload"
                        class="btn btn-primary btn-bordered waves-effect  waves-light">Save</button>
                </div>
            </div>
        </div>
    </div>
</form>


<!-- Delete Product Modal-->
<form id="add-row-form" action="tiket/delete_tiket/{{id}}" method="post">
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Delete {{id}}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">
                    <strong>Are You Sure To Delete This Data?</strong>
                </div>
                <div class="modal-footer">
                    <input type="hidden" name="id_tiket" class="form-control id_tiket" required>
                    <button type="button" class="btn btn-secondary btn-bordered waves-effect " data-dismiss="modal">Close</button>
                     <button type="submit" class="btn btn-danger btn-bordered waves-effect  waves-light">Delete</button>
                </div>
            </div>
        </div>
    </div>
</form>

</div>

<script>

    function readImage(file) {
        var reader = new FileReader();
        var image = new Image();

        reader.readAsDataURL(file);
        reader.onload = function (_file) {
            image.src = _file.target.result; // url.createObjectURL(file);
            image.onload = function () {
                var w = this.width,
                    h = this.height,
                    t = file.type, // ext only: // file.type.split('/')[1],
                    n = file.name,
                    s = ~~(file.size / 1024) + 'KB';
                $('#uploadPreview').append('<img style="max-width:150px" src="' + this.src + '" class="thumb img-responsive img-remove"> ');
                $(".img-remove").click(function () {
                    for (var i = 0; i < 10; i++) {
                        $(".img-remove").attr('src', '').hide();
                    }
                    $("#packages_images").val('');
                });
            };

            image.onerror = function () {
                alert('Invalid file type: ' + file.type);
            };
        };
    }

    $("#packages_images").change(function (e) {
        if (this.disabled) {
            return alert('File upload not supported!');
        }

        var F = this.files;
        if (F.length > 10) {
            $("#packages_images").val('');
            return alert('Gambar tidak boleh lebih dari 10');
        }
        if (F[0]) {
            for (var i = 0; i < F.length; i++) {
                $(".img-remove").attr('src', '').hide();
                readImage(F[i]);
            }
        }

    });
</script>

<script>
    function readImage(file) {
        var reader = new FileReader();
        var image = new Image();

        reader.readAsDataURL(file);
        reader.onload = function (_file) {
            image.src = _file.target.result; // url.createObjectURL(file);
            image.onload = function () {
                var w = this.width,
                    h = this.height,
                    t = file.type, // ext only: // file.type.split('/')[1],
                    n = file.name,
                    s = ~~(file.size / 1024) + 'KB';
                $('#uploadPreview_edit').append('<img style="max-width:150px" src="' + this.src + '" class="thumb img-responsive img-remove"> ');
                $(".img-remove").click(function () {
                    for (var i = 0; i < 10; i++) {
                        $(".img-remove").attr('src', '').hide();
                    }
                    $("#packages_images_edit").val('');
                });
            };

            image.onerror = function () {
                alert('Invalid file type: ' + file.type);
            };
        };
    }

    $("#packages_images_edit").change(function (e) {
        if (this.disabled) {
            return alert('File upload not supported!');
        }

        var F = this.files;
        if (F.length > 10) {
            $("#packages_images_edit").val('');
            return alert('Gambar tidak boleh lebih dari 10');
        }
        if (F[0]) {
            for (var i = 0; i < F.length; i++) {
                $(".img-remove").attr('src', '').hide();
                readImage(F[i]);
            }
        }

    });
</script>

<script>
    $(document).ready(function () {
            
        $('#mytable').DataTable();
        $("#EditModal").on("hidden.bs.modal", function () {
            $("#form-input")[0].reset();
            $("#form_edit")[0].reset();
        });
        //showing data to modal for edit record
        $('#mytable').on('click', '.edit', function () {
            var id = $(this).data('id');
            var nama = $(this).data('nama');
            var id_jenistiket = $(this).data('id_jenistiket');
            var qty = $(this).data('qty');
            var status = $(this).data('status');
            var harga_1 = $(this).data('harga_1');
            var discount = $(this).data('discount');
            var keterangan = $(this).data('keterangan');
            var gambar = $(this).data('gambar');
            $('#EditModal').modal('show');
            $('.nama').val(nama);
            $('.qty').val(qty);
            $('.id_jenistiket').val(id_jenistiket).selectedIndex;
            $('.status').val(status);
            $('.harga_1').val(harga_1);
            $('.discount').val(discount);
            $('#keterangan').summernote('code', keterangan);
            $('.id_edit').val(id);
 
            var node = document.getElementById('default_edit_img');
            while (node.hasChildNodes()) {
                node.removeChild(node.firstChild);
            }
            var img = new Image();
            var div = document.getElementById('default_edit_img');
            img.onload = function () {
                div.innerHTML += '<img src="' + img.src + '" style="width:150px; height:100px;"/>';
            };
            img.src = gambar;
        });
        //showing modal for delete record
        $('#mytable').on('click', '.delete', function () {
            var id = $(this).data('id');
            var nama = $(this).data('nama');
            var res = nama.substring(0, 13);
            $('#DeleteModal').modal('show');
            $('.id_tiket').val(id);
            $('#myModalLabel').html('Delete : ' + res);
        });

    });
</script>
{{>footer}}