{{>head}}
{{>navbar}}

<div class="row">
    <div class="col-7">
        <div class="card-box table-responsive">
            <form action="tiket/store_tiket" method="post" id="form-input" enctype="multipart/form-data">
                {{#each data}}
                
                        <div class="form-group">
                            <label>Nama Web</label>
                            <input type="text" name="nama_web" value="{{nama_web}}" class="form-control" autocomplete="off" placeholder="Tiket Name"
                                required>
                        </div>
                   
                        <div class="form-group">
                            <label>Website</label>
                            <input type="text" name="website" value="{{website}}" class="form-control" autocomplete="off"
                                placeholder="Tiket Name" required>
                        </div>

                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" name="email" value="{{email}}" class="form-control" autocomplete="off" placeholder="Tiket Name"
                                required>
                        </div>

                        <div class="form-group">
                            <label>Telp</label>
                            <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                                autocomplete="off" name="Telp" value="{{telephon}}" class="form-control" placeholder="150" required>
                        </div>

                        <div class="form-group">
                            <label>alamat</label>
                            <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                                autocomplete="off" name="alamat" value="{{telephon}}" class="form-control" placeholder="150" required>
                        </div>

                        <div class="form-group">
                           <center> <label > !--SEO WEB--> </label></center>
                        </div>


                        <div class="form-group">
                            <label>Tagline</label>
                            <input type="text" name="tagline" value="{{tagline}}" class="form-control" autocomplete="off"
                                placeholder="Tiket Name" required>
                        </div>
                 
                        <div class="form-group">
                            <label>Keywords</label>
                            <input type="text" name="keywords" value="{{keywords}}" class="form-control" autocomplete="off"
                                placeholder="Tiket Name" required>
                        </div>
                 
                        <div class="form-group">
                            <label>Meta_text</label>
                            <input type="text" name="meta_text" value="{{meta_text}}" class="form-control" autocomplete="off"
                                placeholder="Tiket Name" required>
                        </div>
                  
                       

                        <div class="form-group">
                            <center> <label> !--SOSMED--> </label></center>
                        </div>

                        <div class="form-group">
                            <label><i class="mdi mdi-facebook-box"></i> Facebook </label>
                            <input type="text" name="facebook" value="{{facebook}}" class="form-control" autocomplete="off"
                                placeholder="Tiket Name" required>
                        </div>

                        <div class="form-group">
                            <label><i class="mdi mdi-twitter-box"></i> Twitter</label>
                            <input type="text" name="twitter" value="{{twitter}}" class="form-control" autocomplete="off"
                                placeholder="Tiket Name" required>
                        </div>

                        <div class="form-group">
                            <label><i class="mdi mdi-instagram"></i> Instagram</label>
                            <input type="text" name="instagram" value="{{instagram}}" class="form-control" autocomplete="off"
                                placeholder="Tiket Name" required>
                        </div>
                        
            </div>
        </div>

            <div class="col-5">
                <div class="card-box table-responsive">
            
            <div class="form-group">
                <label>Logo</label>
                <input type="file" id="packages_images_logo" name="logo" class="filestyle" data-iconname="fa fa-cloud-upload"
                    data-buttonname="btn-secondary" required></div>
            <center><div id="_edit_logo"><img src="{{logo}}" class="img-fluid" width="150px;" style="max-height: 100px;"></div></center>

            <div class="form-group">
                <label>Favicon</label>
                <input type="file" id="packages_images_favicon" name="favicon" class="filestyle" data-iconname="fa fa-cloud-upload"
                    data-buttonname="btn-secondary" required></div>
            <center><div id="_edit_favicon"><img src="{{favicon}}" class="img-fluid" width="150px;" style="max-height: 100px;"></div></center>

            <div class="form-group">
                <label>Deskripsi</label>
                <textarea class="summernote" required class="form-control" name="keterangan">{{deskripsi}}</textarea>
            </div>


            {{/each}}
            <div style="float:right;">
                <button type="button" class="btn btn-secondary btn-bordered waves-effect " data-dismiss="modal">Close</button>
                <button type="submit" value="Upload" class="btn btn-primary btn-bordered waves-effect  waves-light">Save</button>
            </div>
            </form>
</div>
           
        </div>
    </div>
</div>
<!-- end row -->



<script>
    function readImage(file) {
        var reader = new FileReader();
        var image = new Image();

        reader.readAsDataURL(file);
        reader.onload = function (_file) {
            image.src = _file.target.result; // url.createObjectURL(file);
            image.onload = function () {
                var w = this.width,
                    h = this.height,
                    t = file.type, // ext only: // file.type.split('/')[1],
                    n = file.name,
                    s = ~~(file.size / 1024) + 'KB';
                $('#uploadPreview').append('<img style="max-width:150px" src="' + this.src + '" class="thumb img-responsive img-remove"> ');
                $(".img-remove").click(function () {
                    for (var i = 0; i < 10; i++) {
                        $(".img-remove").attr('src', '').hide();
                    }
                    $("#packages_images").val('');
                });
            };

            image.onerror = function () {
                alert('Invalid file type: ' + file.type);
            };
        };
    }

    $("#packages_images").change(function (e) {
        if (this.disabled) {
            return alert('File upload not supported!');
        }

        var F = this.files;
        if (F.length > 10) {
            $("#packages_images").val('');
            return alert('Gambar tidak boleh lebih dari 10');
        }
        if (F[0]) {
            for (var i = 0; i < F.length; i++) {
                $(".img-remove").attr('src', '').hide();
                readImage(F[i]);
            }
        }

    });
</script>

<script>
    function readImage(file) {
        var reader = new FileReader();
        var image = new Image();

        reader.readAsDataURL(file);
        reader.onload = function (_file) {
            image.src = _file.target.result; // url.createObjectURL(file);
            image.onload = function () {
                var w = this.width,
                    h = this.height,
                    t = file.type, // ext only: // file.type.split('/')[1],
                    n = file.name,
                    s = ~~(file.size / 1024) + 'KB';
                $('#uploadPreview_edit').append('<img style="max-width:150px" src="' + this.src + '" class="thumb img-responsive img-remove"> ');
                $(".img-remove").click(function () {
                    for (var i = 0; i < 10; i++) {
                        $(".img-remove").attr('src', '').hide();
                    }
                    $("#packages_images_edit").val('');
                });
            };

            image.onerror = function () {
                alert('Invalid file type: ' + file.type);
            };
        };
    }

    $("#packages_images_edit").change(function (e) {
        if (this.disabled) {
            return alert('File upload not supported!');
        }

        var F = this.files;
        if (F.length > 10) {
            $("#packages_images_edit").val('');
            return alert('Gambar tidak boleh lebih dari 10');
        }
        if (F[0]) {
            for (var i = 0; i < F.length; i++) {
                $(".img-remove").attr('src', '').hide();
                readImage(F[i]);
            }
        }

    });
</script>

<script>
    $(document).ready(function () {
            
        $('#mytable').DataTable();
        $("#EditModal").on("hidden.bs.modal", function () {
            $("#form-input")[0].reset();
            $("#form_edit")[0].reset();
        });
        //showing data to modal for edit record
        $('#mytable').on('click', '.edit', function () {
            var id = $(this).data('id');
            var nama = $(this).data('nama');
            var id_jenistiket = $(this).data('id_jenistiket');
            var qty = $(this).data('qty');
            var status = $(this).data('status');
            var harga_1 = $(this).data('harga_1');
            var discount = $(this).data('discount');
            var keterangan = $(this).data('keterangan');
            var gambar = $(this).data('gambar');
            $('#EditModal').modal('show');
            $('.nama').val(nama);
            $('.qty').val(qty);
            $('.id_jenistiket').val(id_jenistiket).selectedIndex;
            $('.status').val(status);
            $('.harga_1').val(harga_1);
            $('.discount').val(discount);
            $('#keterangan').summernote('code', keterangan);
            $('.id_edit').val(id);
 
            var node = document.getElementById('default_edit_img');
            while (node.hasChildNodes()) {
                node.removeChild(node.firstChild);
            }
            var img = new Image();
            var div = document.getElementById('default_edit_img');
            img.onload = function () {
                div.innerHTML += '<img src="' + img.src + '" style="width:150px; height:100px;"/>';
            };
            img.src = gambar;
        });
        //showing modal for delete record
        $('#mytable').on('click', '.delete', function () {
            var id = $(this).data('id');
            var nama = $(this).data('nama');
            var res = nama.substring(0, 13);
            $('#DeleteModal').modal('show');
            $('.id_tiket').val(id);
            $('#myModalLabel').html('Delete : ' + res);
        });

    });
</script>
{{>footer}}